{
  "presets": ["env"],
    "plugins": [
      "transform-class-properties",
      "transform-decorators-legacy",
      "transform-object-rest-spread",
      "transform-export-extensions"
    ],
    "env": {
      "test": {
        "presets": ["env", "stage-2"],
        "plugins": ["istanbul"]
      }
    }
  }